<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="demo11">
    <p>Message is:{{message}}</p>
    <input v-model="message" placeholder="enter message" lazy/>
    <hr>
    <input type="checkbox" id="checkbox" v-model="poor" @click="aaa">
    {{poor}}
    <hr>
    <input type="checkbox" id="jhon" value="a" v-model="nameList"><label>a</label>
    <input type="checkbox" id="yerr" value="b" v-model="nameList"><label>b</label>
    <input type="checkbox" id="peer" value="c" v-model="nameList"><label>c</label>
    nameList:{{nameList | json}}
    <hr>
    <input type="radio" id="male" value="male" v-model="sex"><label>male</label>
    <input type="radio" id="female" value="female" v-model="sex"><label>female</label>
    <br/>
    sex:{{sex}}
    <hr/>
    <select v-model="selected">
        <option selected value="a">A</option>
        <option value="b">B</option>
        <option value="c">C</option>
    </select>
    <br/>
    <span>Selected: {{ selected }}</span>
    <br/>
    <input v-model="addOne" number/>+<input v-model="addTwo" number/>=<input v-model="sum" number/>

</div>
<script>
    var demo11 = new Vue({
        el: "#demo11",
        data: {
            message: "",
            poor: false,
            nameList: [],
            sex: "male",
            selected: "a",
            addOne: 0,
            addTwo: 0,
            sum: 0
        },
        methods: {
            aaa: function () {
                alert(this.poor);
            }
        },
        computed: {
            sum: {
                get: function () {
                    return this.addOne + this.addTwo;
                },
                set: function (newValue) {
                    this.addOne = newValue - this.addTwo;
                    this.addTwo = newValue - this.addOne;
                }
            }
        }
    });
</script>
</body>
</html>